@use "global" as *;

.about__inner {
	max-width: rem(600);
	width: 100%;
	@include mq(md) {
		max-width: 100%;
	}
}

.about__item {
	position: relative;
	margin-top: rem(32);
	@include mq(md) {
		position: relative;
	}
}

.about__item::after {
	@include mq(md) {
		position: absolute;
		content: "";
		bottom: rem(-90);
		right: calc(50% - (min(48.111vw, rem(637))));
		width: rem(194);
		height: rem(181);
		background-image: url(/assets/images/_sango.png);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 20;
	}
}

.about__img-wrap {
	display: flex;
	width: 100%;
}

.about__img-right {
	position: relative;
	margin-top: 7.4%;
	margin-left: -18.55%;
	z-index: 9;
	width: 81.5%;
}

.about__img-right img {
	aspect-ratio: 281 / 186;
	object-fit: cover;
	@include mq(md) {
		aspect-ratio: 880 / 581;
	}
}

.about__img-right.about__img-right--aboutus {
	position: relative;
	margin-left: initial;
	width: 100%;
	margin-top: 5.4%;
	@include mq(md) {
		margin-left: -18.55%;
		width: 81.5%;
		margin-top: 7.4%;
	}
}

.about__img-right.about__img-right--aboutus img {
	aspect-ratio: 345 / 228;
	object-fit: cover;
	@include mq(md) {
		aspect-ratio: 880 / 581;
	}
}

.about__img-left {
	position: relative;
	z-index: 10;
	width: 37%;
}

.about__img-left img {
	aspect-ratio: 128 / 194;
	object-fit: cover;
	@include mq(md) {
		aspect-ratio: 400 / 606;
	}
}

.about__content {
	margin-top: rem(40);
	@include mq(md) {
		display: flex;
		position: absolute;
		top: 23.5%;
		left: 16.518%;
		display: flex;
		z-index: 11;
		margin-left: rem(19);
		margin-right: rem(30);
	}
}

.about__title {
	font-size: rem(25);
	font-weight: $normal;
	color: $accent-color;
	line-height: 1;
	font-family: $en-font-family;
	font-style: normal;
	letter-spacing: 0.05em;
	@include mq(md) {
		font-size: rem(55);
		line-height: calc(100 / 80);
		color: $white;
		max-width: rem(416);
		width: 100%;
		letter-spacing: initial;
		white-space: nowrap;
	}
}

.about__title.about__title--aboutus {
	position: absolute;
	top: 10%;
	left: 7%;
	color: $white;
	z-index: 12;
	@include mq(md) {
		font-size: rem(55);
		line-height: calc(100 / 80);
		color: $white;
		max-width: rem(416);
		width: 100%;
		letter-spacing: initial;
		white-space: nowrap;
		top: 0;
		left: 0;
		position: initial;
	}
}

.about__textblock {
	margin-top: rem(16);
	@include mq(md) {
		max-width: rem(400);
		width: 100%;
		margin-left: rem(25.6);
		margin-top: rem(10);
	}
}

.about__textblock.about__textblock--aboutus {
	margin-top: rem(16);
	@include mq(md) {
		max-width: rem(400);
		width: 100%;
		margin-left: rem(35);
		margin-top: rem(30);
	}
}

.about__text {
	font-size: rem(16);
	font-weight: $normal;
	line-height: calc(24 / 16);
	font-style: normal;
	@include mq(md) {
		color: $white;
	}
}

.about__button {
	margin-top: rem(40);
	text-align: center;
}
