@use "global" as *;

.blog-cards {
	max-width: rem(600);
	width: 100%;
	margin: auto;
	margin-top: rem(30);
	@include mq(md) {
		max-width: rem(1080);
		margin-top: rem(80);
		display: flex;
		align-items: center;
		gap: rem(40);
	}
}
