@use "global" as *;

.blog-cards {
	display: grid;
	max-width: rem(600);
	width: 100%;
	margin: auto;
	column-gap: rem(40);
	row-gap: rem(35);
	grid-template-columns: 1fr;
	justify-items: center;
	padding-right: rem(5);
	padding-left: rem(5);
	@include mq(md) {
		max-width: rem(1080);
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		row-gap: rem(80);
	}
}

.blog-cards--2colums {
	@include mq(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}
