@use "global" as *;

.blog-list-name {
	font-size: rem(24);
	font-weight: $normal;
	padding-left: rem(83);
	padding-top: rem(9);
	padding-bottom: rem(15);
	position: relative;
	// margin-top: rem(80);
}

.blog-list-name::before {
	position: absolute;
	content: "";
	background-image: url(/assets/images/blog-sidebar-icon.png);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	top: 74%;
	left: 8.5%;
	transform: translateY(-90%);
	max-width: rem(50);
	width: 100%;
	height: rem(50);
}

.blog-list-name::after {
	position: absolute;
	content: "";
	background-color: $accent-color;
	left: rem(1);
	top: 0;
	max-width: rem(8);
	width: 100%;
	height: rem(50);
}
