@use "global" as *;

.campaign__inner {
	position: relative;
}

.campaign__button {
	margin-top: rem(24);
	text-align: center;
	@include mq(md) {
		margin-top: rem(80);
	}
}

.campaign-slide {
	width: rem(280);

	@include mq(md) {
		width: rem(333);
	}
}
