@use "global" as *;

.pc-header-item__link {
	display: block;
	height: inherit;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	position: relative;
}

.pc-header-item__link::after {
	content: "";
	/*絶対配置で線の位置を決める*/
	position: absolute;
	bottom: rem(-5);
	left: 10%;
	/*線の形状*/
	width: 80%;
	height: 2px;
	background: $white;
	/*アニメーションの指定*/
	transition: all 0.3s;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: center top; /*上部中央基点*/
}

.pc-header-item__link:hover::after {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.pc-header-item__title {
	font-size: rem(18);
	line-height: 1;
	font-family: $en-font-family;
	font-weight: $normal;
}

.pc-header-item__subtitle {
	font-size: rem(10);
	line-height: calc(15 / 10);
	font-weight: $normal;
	margin-top: rem(4);
}
