@use "global" as *;

.pc-nav {
	display: none;

	@include mq(md) {
		display: flex;
		margin-left: auto;
		height: inherit;
	}
}

.pc-nav__items {
	height: inherit;
	display: flex;
	align-items: center;
}

.pc-nav__item {
	height: inherit;
	display: flex;
	align-items: center;
}

.pc-nav__item a {
	display: block;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	position: relative;
	font-size: 1.6rem;
	color: #fff;
	align-items: center;
	height: inherit;
	// padding: rem(0) rem(20);
	padding-right: min((20 / 1440) * 100vw, rem(20));
	padding-left: min((20 / 1440) * 100vw, rem(20));
}

.pc-nav__content {
	height: 100%; /* aタグのコンテンツをヘッダーの高さいっぱいに広げる */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pc-nav__link::after {
	content: "";
	/*絶対配置で線の位置を決める*/
	position: absolute;
	bottom: rem(25);
	left: 10%;
	/*線の形状*/
	width: 80%;
	height: 2px;
	background: $white;
	/*アニメーションの指定*/
	transition: all 0.3s;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: center top; /*上部中央基点*/
}

.pc-nav__link:hover::after {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.pc-nav__title {
	font-size: rem(18);
	line-height: 1;
	font-family: $en-font-family;
	font-weight: $normal;
}

.pc-nav__subtitle {
	font-size: rem(10);
	line-height: calc(15 / 10);
	font-weight: $normal;
	margin-top: rem(4);
}
