@use "global" as *;

.privacy-policy__inner {
	position: relative;
}

.privacy-policy__inner::after {
	position: absolute;
	content: "";
	background-image: url(/assets/images/page-kingyohanadai.png);
	width: rem(120);
	height: rem(55);
	top: rem(-24);
	left: calc(50% - (min(46.062vw, rem(620))));
	background-repeat: no-repeat;
	background-size: contain;
	@include mq(md) {
		width: rem(301);
		height: rem(138);
		top: rem(-72);
	}
}

.privacy-policy__contents-inner {
	max-width: rem(520);
	width: 100%;
	margin-inline: auto;
	margin-top: rem(24);
	@include mq("md") {
		max-width: rem(800);
	}
}

.privacy-policy__title {
	font-size: rem(24);
	font-weight: $regular;
	@include mq("md") {
		font-size: rem(32);
	}
}

.privacy-policy__description-1 {
	margin-top: rem(39);
	font-size: rem(16);
	line-height: 2;
}

.privacy-policy__description-2 {
	margin-top: rem(31);
	font-size: rem(16);
	line-height: 2;
}

.privacy-policy__items {
	list-style: decimal;
}

.privacy-policy__items:first-of-type {
	margin-top: rem(31);
}

.privacy-policy__items-inner {
	display: flex;
	flex-wrap: wrap;
}

.privacy-policy__items-inner span {
	display: block;
	font-size: rem(16);
	line-height: 2;
	margin-top: rem(33);
}

.privacy-policy__item {
	margin-left: rem(24);
	font-size: rem(16);
	line-height: 2;
}

.privacy-policy__contact {
	margin-top: rem(102);
	@include mq(md) {
		margin-top: rem(143);
	}
}
