@use "global" as *;

.site-nav__menu {
	max-width: rem(500);
	display: flex;
	@include mq(md) {
		max-width: 100%;
		gap: rem(120);
		justify-content: start;
	}
}

.site-nav__content-left,
.site-nav__content-right {
	@include mq(md) {
		display: contents;
		align-items: center;
	}
}

.site-nav__item--icon a {
	position: relative;
	margin-top: rem(16);
}

.site-nav__item--icon a:hover {
	opacity: 0.7;
}

.site-nav__item--icon a::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: rem(18);
	height: rem(18);
	background-image: url(/assets/images/site-map-icon.png);
}

.site-nav__item a {
	display: block;
	width: 100%;
	font-size: 1.6rem;
	font-size: rem(16);
	font-weight: $normal;
	line-height: 1;
	padding-top: rem(12);
	padding-bottom: rem(12);
	padding-left: rem(22);
}

.site-nav__item a:hover {
	opacity: 0.7;
}

.site-nav__content-left {
	margin-left: rem(18);
	@include mq(md) {
		margin-left: rem(0);
	}
}
